/* Add custom styles here */

/* Body styles */
body {
  font-family: Arial, sans-serif;
}

/* Navigation bar styles */
.navbar {
    background-color: #403c57; /* Background color (dark purple) */
    color: #d2d282; /* Text color (muted yellow) */
  }
  
  .navbar a {
    color: #d2d282 !important; /* Link color (muted yellow) */
  }
  
  .navbar a:hover {
    color: #e74c3c !important; /* Link color on hover (red) */
  }

  /* Right-align the text in the navbar */
.navbar-nav {
    margin-left: auto;
  }
  
  /* Style the navigation items */
  .navbar-nav .nav-item {
    text-align: right;
  }
  
  /* Style the navigation links (optional) */
  .navbar-nav .nav-item .nav-link {
    padding-right: 1rem; /* Add some right padding between items */
  }
  

/* Hero section styles */
.jumbotron {
  position: relative;
  overflow: hidden;
  padding: 0;
  text-align: center;
}

/* Hero background styles */
.hero-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0.6; /* Adjust the opacity to control the visibility of the background image */
  z-index: 1;
}

/* Hero section styles */
.jumbotron.hero-creativecanvas {
  position: relative;
  overflow: hidden;
  padding: 0;
  text-align: center;
  max-width: 100%; /* Adjust the max-width to your preference */
  max-height: 50%;
  margin: 0 auto; /* Center the content horizontally */
}


/* Additional styling for the foreground content */
.jumbotron h1 {
  font-size: 3rem;
  color: #110b0b;
}

/* Rest of your CSS styles */

/* Work section styles */
.card {
  margin: 20px 0;
}

.card-title {
  font-size: 1.25rem;
}

/* Skills section styles */
#skills ul {
  list-style: none;
  padding: 0;
}

/* About/Contact section styles */
#about {
  margin-top: 50px;
}

/* Footer styles */
footer {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

/* Button styles */
.btn:hover {
  box-shadow: 2px 2px 5px #888;
}

/* Media Query for responsiveness */
@media (max-width: 768px) {
  .jumbotron {
    padding: 50px;
  }

  .jumbotron h1 {
    font-size: 2rem;
  }
}
